<a href="/event/{{event.event_id}}">
    <p>
    <span class="timeago"
          datetime="{{event.time|iso_date()}}"
          title="{{event.time|human_date()}}">
        {{event.time|human_date()}}</span>
    </p>
</a>