<nav role="navigation" class="mt-2 mb-4 ml-4">
    <ul class="flex">
        <li class="mr-6">
            <a href="/" class="text-2xl font-semibold">QR Tracker</a>
        </li>

        <li class="flex-grow" id="nav-spacer"></li>

        {% match current_user %}
            {% when Some with (current_user) %}
                <li class="mr-6">
                    <a href="/user/{{current_user.user_id}}">Profile</a>
                </li>
                <li class="mr-6">
                    <form action="/logout" method="POST">
                        <button type="submit">Logout</button>
                    </form>
                </li>
        {% when None %}
                <li class="mr-6">
                    <a href="/newuser">Create Account</a>
                </li>

                <li class="mr-6">
                    <a href="/login">Login</a>
                </li>
        {% endmatch %}
    </ul>
</nav>