{# must be wrapped in <select></select> #}

{% if timelines.len() > 0 %}
    {% for timeline in timelines %}
        <option value="{{timeline.timeline_id}}"
            {% match current_timeline %}
                {% when Some with (current_timeline) %}
                    {% if timeline== current_timeline %} selected {% endif %}
                {% when None %}
            {% endmatch %}
        >{{timeline.description}}
        </option>
    {% endfor %}
{% else %}
    <option disabled>No timelines available</option>
{% endif %}