<a href="/timeline/{{timeline.timeline_id}}" class="timeline-summary">
    <div class="mb-4">
        <h3 class="font-semibold underline">{{timeline.description}}</h3>
        <div class="ml-3">
            {% if timeline.deleted %} <p class="no-underline">Deleted</p> {% endif %}
            <p>{{timeline.event_count}} events and {{timeline.code_count}} codes</p>
        </div>
    </div>
</a>
