.body a {
    text-decoration: underline;
    font-weight: bolder;
}

.body hr {
    border: #b1b1b1 solid 1px;
    width: 80%;
}

.green {
    color: #424242;
    background-color: #43d022;
    box-shadow: 4px 4px #1a520e;
}

.green:hover {
    color: #424242;
    background-color: #339e1a;
    box-shadow: 4px 4px #1a520e;
}

.grey {
    color: #b1b1b1;
    background-color: #535353;
    box-shadow: 4px 4px #3e3e3e;
}

.grey:hover {
    background-color: #3d3d3d;
}

.orange {
    color: #cbcbcb;
    background-color: #b33a02;
    box-shadow: 4px 4px #872c00;
}

.orange:hover {
    background-color: #8b2d00;
}

.btn {
    padding: 0.6rem;
    font-weight: 600;
    margin: 0.5rem;
    border-bottom-style: none;
    text-decoration: none !important;
}

body {
    background-color: #313131;
    color: #b1b1b1;
}

input {
    color: #313131;
}

form input {
    background: transparent;
    color: #b1b1b1;
    border-bottom: 2px #b1b1b1;
    border-bottom-style: solid;
}

form select {
    background: transparent;
    text-decoration: underline;
}

