{% extends "layout.html" %}

{% block body %}

<form action="/code/edit/{{code.code_id}}" method="POST">
    <i class="fas fa-pencil-alt"></i>
    <input name="description" value="{{code.description}}"
           class="text-3xl">

    <p class="my-3">Print this code to scan this event. <a href="/help">Need help?</a></p>

    <div class="flex m-6">
        <img src="/qr/{{code.code_id}}" class="w-40">
        <div class="ml-4" id="code-info">
            <div>
                <label for="timelines" title="Set the timeline that this code adds to">Associated Timeline:</label>
                <select id="timelines" name="timeline">
                    {% include "partials/timeline_selector_options.html" %}
                </select>
            </div>
            
            <div class="mr-3 mt-3">
                <button type="submit" class="btn grey">Save</button>
            </div>
        </div>
    </div>
</form>

<h2 class="text-xl font-semibold">Events</h2>

{% if events.len() == 0 %}
    <p>This code hasn't been scanned yet. Scan the QR code above with any code reader and open the link
    to use it. <a href="/help">Need help?</a></p>
{% else %}
    {% for event in events %}
        {% include "partials/event_summary.html" %}
    {% endfor %}
{% endif %}

{% endblock %}
