{% extends "layout.html" %}

{% block body %}

<h1 class="text-2xl my-6">{{question}}</h1>

<div class="flex justify-center">
    {# Assumes that confirmable actions are posts #}
    <form action="{{yes_location}}" method="POST">
        <button class="btn green" type="submit">Yes</button>
    </form>
    <a class="btn orange" href="{{no_location}}">No</a>
</div>

{% endblock %}
