{#<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error {{code}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css"
          integrity="sha256-ct5KWWMn5eSjQCQkdJrskmSppUJDoXwUlBQXCZcISPk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<div class="max-w-screen-md mx-auto body">
    <h2 class="text-2xl mt-10">{{code}} - {{message}}</h2>
</div>

</body>
</html>#}


{% extends "layout.html" %}

{% block body %}

    <h2 class="text-2xl mt-10">Error {{code}}</h2>
    <p>{{message}}</p>
{% endblock %}
