<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qr</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css"
          integrity="sha256-ct5KWWMn5eSjQCQkdJrskmSppUJDoXwUlBQXCZcISPk=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.full.min.js"
            integrity="sha256-7NJCSpiWM0eQMfMyrFtNZp/43bnmuIhCKH+MUt6bHKY=" crossorigin="anonymous" type="text/javascript">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.1.0/instantclick.min.js"
            integrity="sha256-T8RTGotskdhLXy/3avHtzYliRm9WCbiiqm5dbCVH87s=" crossorigin="anonymous"
            data-no-instant></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

{% include "partials/navbar.html" %}

<div class="max-w-screen-md mx-auto body">

    <div>
        {% match flash %}
            {% when Some with (flash) %}
            <div class="notification is-warning">
                {{ flash.message }}
            </div>
            {% when None %}
        {% endmatch %}
    </div>


    {% block body %}

    {% endblock %}
</div>

</body>
</html>

<script>
    timeago.render(document.querySelectorAll('.timeago'));
</script>

<script data-no-instant>
    InstantClick.init(50);
</script>
