{% extends "layout.html" %}

{% block body %}

<h1 class="text-2xl font-semibold">Create an Account</h1>

<div class="p-4">
    <form action="/newuser" method="POST">
        <div>
            <label for="email" class="block font-bold mb-2">Email</label>
            <input type="email" id="email" name="email"
                   class="shadow appearance-none border mb-4 p-2 rounded">
        </div>

        <div>
            <label for="password" class="block font-bold mb-2">Password</label>
            <input type="password" id="password" name="password"
                   class="shadow appearance-none border mb-4 p-2 rounded">
        </div>

        <div class="mt-5">
            <input type="submit" value="Submit" class="btn green">
        </div>
    </form>
</div>
{% endblock %}
