{% extends "layout.html" %}

{% block body %}

<div class="mb-4">
    <form action="/timeline/{{timeline.timeline_id}}" method="POST">
        <i class="fas fa-pencil-alt"></i>
        <input name="description" value="{{timeline.description}}"
               class="text-3xl">
    </form>
</div>

<h2 class="font-bold text-xl">Assigned Codes</h2>

<div class="flex m-3 mb-6">
    {% if codes.len() > 0 %}
    {% for code in codes %}
    {% include "partials/code_summary.html" %}
    {% endfor %}
    {% else %}
    <p>This timeline doesn't have any codes assigned to it. Go to
        <a href="/user/{{current_user.as_ref().unwrap().user_id}}">your profile</a> to assign some</p>
    {% endif %}
</div>

<h2 class="font-bold text-xl">Events</h2>

<div class="m-3 mb-6">
    {% if events.len() > 0 %}
    {% for event in events %}
    {% include "partials/event_summary.html" %}
    {% endfor %}
    {% else %}
    <p>No events have been scanned for this timeline. <a href="/help">Need help?</a></p>
    {% endif %}
</div>

<div class="flex">
    <a class="btn orange" href="/timeline/{{timeline.timeline_id}}/delete">Delete</a>
</div>

{% endblock %}
