{% extends "layout.html" %}

{% block body %}

<div class="flex">
    <form action="/timeline?from=/user/{{focused_user.user_id}}" method="POST">
        <input type="submit" value="New Timeline" class="btn green">
    </form>
    <form action="/code" method="POST">
        <input type="submit" value="New Code" class="btn green">
    </form>
</div>

<h2 class="text-3xl mt-5">Timelines</h2>
<hr>

<p class="text-sm m-2">Timelines are collections of events. Scan a code to push an event to one</p>

{% if timelines.len() > 0 %}
    {% for timeline in timelines %}
        {% match timeline %}
            {% when Ok with (timeline) %}
                {% include "partials/timeline_summary.html" %}
            {% when Err with (error) %}
                <p>Failed to load timeline {{error}}</p>
        {% endmatch %}
    {% endfor %}
{% else %}
    <p>No timelines found. Click New Timeline above to create one</p>
{% endif %}

<h2 class="text-3xl">Codes</h2>
<hr>

{% for code in user_codes %}
    {% include "partials/code_summary.html" %}
{% endfor %}

<h2 class="text-3xl">Options</h2>
<hr>

<div class="flex">
    <a href="?show_deleted=true" class="btn grey">Show Deleted Items</a>
</div>

{% endblock body %}
